<script>
    export let card;
</script>

<style>
    .card {
        overflow: hidden;
        box-shadow: 0 2px 20px;
        border-radius: 0.5rem;
        position: relative;
        width: 20rem;
        height: 35rem;
        margin: 1rem;
        cursor: pointer;
        background-color: white;
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 2px 40px;
    }
    .banner-img {
        position: absolute;
        object-fit: cover;
        height: 14rem;
        width: 100%;
    }
    .card-body {
        margin: 15rem 1rem 1rem 1rem;
    }
    .card-title {
        line-height: 1.5rem;
        margin: 1rem 0;
        text-align: center;
    }
    .card-desc {
        font-size: .9rem;
        color:black;
        font-weight: bold;
        opacity: 1.8;
    }
</style>

<div class="card">
    <div class="banner">
        <img class="banner-img" src={card.images[0]} alt="Image of {card.name}">
    </div>
    <div class="card-body">
        <h2 class="card-title">{card.name}</h2>
        <p class="card-desc">{card.location} {card.date_of_hike}</p>
    </div>
</div>