<script>
    import Card from "$lib/Card.svelte";

    export let hikes;
</script>

<style>
    .card-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto auto auto auto;
        grid-auto-flow: dense;
        position: relative;
        justify-content: center;
    }
    a, a:hover, a:visited {
        text-decoration: none;
        color: inherit;
    }
</style>

<div class="card-grid">
    {#if hikes}
        {#each hikes as hike}
            <a href={`/hikes/${hike.id}`}>
                <Card card={hike}/>
            </a>
        {/each}
    {/if}
</div>