<script context="module">
    import * as api from '$lib/api';
    import HikeList from "$lib/HikeList.svelte";

    const endpoint = "hikes";

    let hikes;

    export async function load() {
        try {
            hikes = await api.get(endpoint);
        } catch (e) {
            console.log(e);
        }
        return {
            props: {
                hikes
            }
        };
    }
</script>



<HikeList hikes={hikes}/>


