<script context="module">
    import * as api from "$lib/api";

    let hike;

    export async function load( { params } ) {
        const endpoint = `hikes/${params.id}`;

        hike = await api.get(endpoint);

        return {
            props: { hike }
        };

    }

</script>

<p>{hike.name}</p>
<p>{hike.location} {hike.date_of_hike}</p>